.login {
  background-color: #cfcfcf42;
  width: 50rem;
  min-height: 25rem;
  height: min-content;
  border-radius: 1.5rem;
  padding: 2rem;
  margin: 10rem auto;
  box-shadow: 8px 8px 40px 25px rgba(0, 0, 0, 0.75);
  //   display: flex;
  justify-content: space-evenly;

  input,
  select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;
    margin: 10px auto;
    border: 1px solid #9e9e9e;
    outline: none;
  }
  a {
    text-decoration: underline;
    color: blue;
    font-size: 1.8rem;
  }
}
